header .navbar {
  background-color: #ecd9c6;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto Mono', monospace;
  width: 100%; }

header h1 {
  margin: 10px;
  padding: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  text-align: center;
  color: #3a2613; }

header .spotify {
  margin: 10px 10px 10px 900px;
  padding: 5px;
  width: 30%;
  position: fixed; }

#nuevoindex ul, #saleindex ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }

#nuevoindex ul .newImg, #saleindex ul .newImg {
  background-color: #e6cbb2;
  margin: 20px;
  padding: 10px;
  width: 400px;
  height: 500px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Roboto Mono', monospace; }

#nuevoindex ul .newImg .img, #saleindex ul .newImg .img {
  width: 380px;
  height: 450px; }

h2 {
  color: #87582c;
  margin: 10px;
  padding: 10px;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  text-align: center; }

* {
  margin: 0%;
  padding: 0%; }

body {
  background-image: url(../images/fondo.jpg); }
