@import "../base/variables";
%ulimg{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        padding: 5px;
    }


%liimg{    
     
        background-color: $bcsec;
        margin: 20px;
        padding: 10px;
        width: 435px;
        height: 525px;       
        text-align: center;
        font-family: $fontf1;
        font-family: $fontf2;
        border-radius: 15px;
        @media only screen and (min-width: 601px) and (max-width:1024px){
            margin: 20px;
            padding: 10px;
            width: 350px;
            height: 500px;
      
          } 
          @media only screen and (max-width: 600px) {
            margin: 5px;
            padding: 5px;
            width: 400px;
            height: 400px; 
            
            }
     
    }
%img{
    width: 380px;
    height: 450px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;


    @media only screen and (min-width: 601px) and (max-width:1024px){
        margin: 20px;
        padding: 10px;
        width: 400px;
        height: 500px;
  
      } 
      @media only screen and (max-width: 600px) {
        margin: 5px;
        padding: 5px;
        width: 300px;
        height: 350px; 
        
        }
         
    }

%flexlogo{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}

%flexnavl {

    display: flex;
    flex-flow: row nowrap;
    justify-content:flex-end;
    text-decoration: none;
    list-style: none;
    

   
}