@import "../base/extends";

h2{
    color: rgb(135, 88, 44);
    margin: 10px;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;;
    font-size: 60px;
    text-align: center;

}

#nuevoindex{
  ul{
    @extend %ulimg;
   

  .newImg{

   @extend %liimg; 
    
    .img{
      @extend %img;
     
    }
  }

}
}    

#saleindex{
  ul{
    @extend %ulimg;
   

  .newImg{

   @extend %liimg; 
    
    .img{
      @extend %img;
     
    }
  }

}
}  